<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMqO_yQTnauFvju7u3EIC7XgbDr4ZxOOU</string>
	<key>GCM_SENDER_ID</key>
	<string>522462075867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alperen.example.todo</string>
	<key>PROJECT_ID</key>
	<string>winkle-c8e32</string>
	<key>STORAGE_BUCKET</key>
	<string>winkle-c8e32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522462075867:ios:605f83d0ae45c99b81a5fe</string>
</dict>
</plist>